body {
    font-family:Verdana;
}
.center {
    width:500px;
    height:500px;
    margin: auto auto;
    text-align:center;
}

.center input {
    border: none;
    padding: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
}